table {
border-collapse: separate;
border: 1px solid #ccc;
border-radius: 10px;
overflow: hidden;
width: 80%;
margin: auto;
border-spacing: 0;
margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

#tabla_encabezado {
    text-align: center;
    background-color: #eee;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: xx-large;
}
div {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
   margin: 15px;
}